<template>
    <footer class="footer footer-black footer-white">
        <div class="container-fluid">
          <div class="row">
              <div class="credits ml-auto">
                  <span class="copyright">
                    © 2006 Sinarmas Bank. All Rights Reserved
                  </span>
              </div>
          </div>
      </div>
    </footer>
</template>

<style>

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 50px;
}

</style>