<template>
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand">Hello, {{ admin.name }}</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form v-if="admin.position != 1">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search By Name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <img src="../assets/pictures/search.png" width="20px" alt="">
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <img @click="logout" style="cursor: pointer; margin-left: 20px" src="../assets/pictures/logout.png" width="25px" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    props: ["admin"],
    methods: {
        logout: function(){
            localStorage.clear();
            this.$router.push('/login');
            this.$router.go();
        }
    }
}
</script>