<template>
  <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <router-link to="/">
                    <i><img src="../assets/pictures/user.png" alt="" width="30px"> </i>
                    <p>User</p>
                </router-link>
            </li>
            <li>
                <router-link v-if="roleId == 1" to="/admin">
                    <i><img src="../assets/pictures/list.png" alt=""> </i>
                    <p>Create User</p>
                </router-link>
                <router-link v-if="roleId == 2" to="/verifikator">
                    <i><img src="../assets/pictures/list.png" alt=""> </i>
                    <p>List Applicants</p>
                </router-link>
                <router-link v-if="roleId == 3" to="/validator">
                    <i><img src="../assets/pictures/list.png" alt=""> </i>
                    <p>List Applicants</p>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ["roleId"]
}
</script>