<template>
    <div class="container text-start" style="padding-top: 25px">
        <h3>Sekilas Bank Sinarmas</h3>
        <br>
        <p>
            PT Bank Sinarmas Tbk. didirikan pada 18 Agustus 1989 berdasarkan Akta No. 52 tanggal 18 Agustus 1989 dari Buniarti Tjandra, S.H., Notaris di Jakarta, dengan nama PT Bank Shinta Indonesia dan telah diubah dengan Akta No. 91 tanggal 15 September 1989 dari notaris yang sama.
            <br>
            <br>
            Bank memperoleh status sebagai Bank Umum Devisa tahun 1995. Tahun 2005, perjalanan Bank memasuki babak baru setelah PT Sinar Mas Multiartha Tbk., perusahaan financial services yang berada di bawah Kelompok Usaha Sinar Mas mengambil alih 21% saham di PT Bank Shinta Indonesia.
            <br>
            <br>
            Pada Desember 2006 Bank berganti nama menjadi PT Bank Sinarmas. Pergantian nama tersebut telah disetujui melalui Rapat Umum Pemegang Saham Luar Biasa yang tertuang dalam Akta No. 1 tanggal 21 November 2006 dari Triphosa Lily Ekadewi, S.H., notaris di Jakarta.
            <br>
            <br>
            Pada tahun 2009, Bank Sinarmas memperoleh ijin untuk pendirian Unit Usaha Syariah (UUS), berdasarkan Keputusan Deputi Gubernur Bank Indonesia No. 11/13/KEP. Dpg/2009 Tentang Pemberian Izin Usaha Unit Usaha Syariah (UUS) PT Bank Sinarmas dan di tahun yang sama Bank memperoleh pengesahan dari Bapepam (sekarang OJK) untuk melakukan kegiatan usaha Wali Amanat.
            <br>
            <br>
            Pada 13 Desember 2010, Bank Sinarmas melakukan Penawaran Saham Umum Perdana (Initial Public Offering /IPO) dengan struktur permodalan sebesar Rp728 miliar dan dengan mengeluarkan Waran Seri I. Adapun aksi korporasi yang dilakukan Bank Sinarmas setelah IPO adalah sebagai berikut :
            <br>
            <br>
            <ul style="color: gray; font-size: 14px;">
                <li>Tahun 2012 Bank melakukan Penawaran Umum Terbatas I dan dengan mengeluarkan waran seri II</li>
                <li>Tahun 2014 Bank melakukan Penambahan Modal Tanpa Hak Memesan Efek Terlebih Dahulu (PMTHMETD)</li>
                <li>Tahun 2016 Bank melakukan Penawaran Umum Terbatas II dan dengan mengeluarkan Waran Seri III</li>
            </ul>
        </p>
        <h3>Visi Misi dan Nilai-Nilai Bank Sinarmas</h3>
        <h5>Visi</h5>
        <p>"Menjadi Bank terkemuka di Indonesia dengan jaringan distribusi yang terintegrasi dan layanan yang prima".</p>
        <h5>Misi</h5>
        <ol style="color: gray; font-size: 14px;">
            <li>Membangun layanan Keuangan yang prima guna memenuhi kebutuhan financial masyarakat.</li>
            <li>Meningkatkan kemampuan Teknologi Informasi dan Sumber Daya Manusia dalam rangka memberikan layanan terbaik melalui payment system dan layanan digital yang lengkap.</li>
            <li>Membudayakan sistem Manajemen Risiko sesuai dengan prinsip kehati-hatian dan <i>Good Corporate Governance</i> (GCG).</li>
        </ol>
        <h5>Obyektif Jangka Panjang Bank Sinarmas</h5>
        <p>"Menjadi <i>Payment & Transaction Bank</i> dengan jaringan distribusi terlengkap dan terintegrasi"</p>
        <h5>Nilai-nilai</h5>
            <ul>
                <li class="values-li">Agile</li>
                <br>
                <p>
                    Mampu memposisikan diri, beradaptasi dan terbuka terhadap kecepatan <i>(velocity)</i> perkembangan bisnis, senantiasa selalu berjalan walaupun pelan asal tidak diam <i>"Bu Pa Man, Zhi Pa Zhan"</i> dimana kita tidak hanya berdiam diri dan tidak melakukan apa-apa, kita dituntut untuk cepat, tanggap dan terus melangkah dalam setiap keadaan agar kita mampu bertahan di tengah persaingan yang ketat.
                    <br>
                    Perilaku : Tangkas, Terbuka dan Cerdas
                </p>
                <li class="values-li">Networking Internationally</li>
                <br>
                <p>
                    Senantiasa membina hubungan internal, eksternal, maupun secara global untuk mendukung kinerja dalam dunia bisnis.
                    <br>
                    Perilaku : Proaktif, Cepat Tanggap dan Berani.
                </p>
                <li class="values-li">Constantly Learning</li>
                <br>
                <p>
                    Mengembangkan ide dan pengetahuan serta berinovasi untuk meningkatkan nilai tambah secara terus menerus.
                    <br>
                    Perilaku : Kreatif, Inovatif dan Solutif
                </p>
                <li class="values-li">Reliable</li>
                <br>
                <p>
                    Berkomitmen untuk bekerja dengan tulus sehingga menumbuhkan keyakinan dan sangka baik berlandaskan kehandalan.
                    <br>
                    Perilaku : Kompeten, <i>Capable</i> dan Jujur
                </p>
                <li class="values-li">Let's Work Together</li>
                <br>
                <p>
                    Bekerja sama dalam mencapai tujuan Bank berdasarkan dengan sikap peduli dan menghargai ("tepa selira") agar Bank sehat, kuat, untung dan dapat mewujudkan mimpi kita bersama.
                    <br>
                    Perilaku : Dapat Bekerja Sama, Saling Menghargai
                </p>
            </ul>
        <h3>Legalitas Bank Sinarmas</h3>
        <table style="width: 100%">
            <tr>
                <td style="width:25%">Nama</td>
                <td>PT. Bank Sinarmas Tbk.</td>
            </tr>
            <tr>
                <td>Bidang Usaha</td>
                <td>Perbankan</td>
            </tr>
            <tr>
                <td>Akta Pendirian</td>
                <td>18 Agustus 1989</td>
            </tr>
            <tr>
                <td>Dasar Hukum Pendirian</td>
                <td>Akta Notaris Buniarti Tjandra, S.H. No. 52 Tanggal 18 Agustus 1989 yang disahkan oleh Keputusan Menteri Kehakiman Republik Indonesia dengan Surat Keputusan No. 02-9142.HT.01.01-TH.89 tanggal 27 September 1989.</td>
            </tr>
            <tr>
                <td>Status Bank</td>
                <td>Bank Devisa</td>
            </tr>
            <tr>
                <td>Bursa Efek</td>
                <td>Bursa Efek Indonesia</td>
            </tr>
            <tr>
                <td>Kode Saham</td>
                <td>BSIM</td>
            </tr>
            <tr>
                <td>SWIFT Code</td>
                <td>SBJKIDJA</td>
            </tr>
            <tr>
                <td>Telex</td>
                <td>67171 SHINPS IA</td>
            </tr>
            <tr>
                <td>I-Telex</td>
                <td>867171</td>
            </tr>
            <tr>
                <td>Izin Usaha</td>
                <td>Surat Keputusan Menteri Keuangan Republik Indonesia No.156/KMK.013/1990 tanggal 16 Pebruari 1990</td>
            </tr>
            <tr>
                <td>Kantor Pusat</td>
                <td>
                    PT. Bank Sinarmas Tbk.<br>
                    Sinar Mas Land Plaza<br>
                    Jl. M.H Thamrin Kav. 51<br><br>
                    Tower I Lantai 1 & 2<br>
                    Kel. Gondangdia, Kec. Menteng<br>
                    Jakarta 10350 - Indonesia<br>
                    Phone: (+6221) 31990101
                </td>
            </tr>
            <tr>
                <td>Customer Care</td>
                <td>1500153 dan (+6221) 501 88888</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>
                    corporate.secretary@banksinarmas.com<br>
                    care@banksinarmas.com
                </td>
            </tr>
            <tr>
                <td>Website</td>
                <td>www.banksinarmas.com</td>
            </tr>
            <tr>
                <td>Social Media</td>
                <td>
                    Facebook : Bank Sinarmas<br>
                    Twitter : @BankSinarmas<br>
                    Instagram : @BankSinarmas
                </td>
            </tr>
        </table>
        <br>
    </div>
</template>

<script>
export default {
    mounted() {
        if (localStorage.getItem('reloadPage')) {
            localStorage.removeItem('reloadPage');
        } else {
            localStorage.setItem('reloadPage', '1');
            location.reload();
        }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.values-li{
    color: gray;
    font-weight: bold;
    font-size: 15px;
}

table, td {
    border: 0.1px solid gray;
    padding: 5px;
    vertical-align: top;
}

h5{
    margin-bottom: 15px;
}
</style>