<template>
    <div class="container">
        <form>
            <section v-if="step == 1">
                <div>
                    <h1>Terms and Conditions</h1>
                    <br>
                    <p>
                        Welcome to This Website!
                        <br>
                        <br>
                        These terms and conditions outline the rules and regulations for the use of Company Name's Website, located at Website.com.
                        <br>
                        By accessing this website we assume you accept these terms and conditions. Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page.
                        <br>
                        <br>
                        The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                        <br>
                        <br>
                        Cookies
                        <br>
                        We employ the use of cookies. By accessing Website Name, you agreed to use cookies in agreement with the Company Name's Privacy Policy.
                        <br>
                        Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
                        <br>
                        <br>
                        License
                        <br>
                        Unless otherwise stated, Company Name and/or its licensors own the intellectual property rights for all material on Website Name. All intellectual property rights are reserved. You may access this from Website Name for your own personal use subjected to restrictions set in these terms and conditions.
                        <br>
                        <br>
                        You must not:
                        <br>
                        - Republish material from Website Name
                        <br>
                        - Sell, rent or sub-license material from Website Name
                        <br>
                        - Reproduce, duplicate or copy material from Website Name
                        <br>
                        - Redistribute content from Website Name
                        <br>
                        <br>
                        Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Company Name does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Company Name,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Company Name shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                        <br>
                        Company Name reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.
                        <br>
                        <br>
                        You warrant and represent that:
                        <br>
                        You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                        The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;
                        The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy
                        The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
                        You hereby grant Company Name a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
                    </p>
                </div>
            </section>

            <section v-if="step == 2">
                <h3>Step 1</h3>
                <h4>Please input your personal information</h4>
                <br>
                <div class="form-group">
                    <label for="NIK"><h4>NIK/ID Number</h4></label>
                    <input type="number" class="form-control" placeholder="Input NIK/ID Number (16 Digit)" v-model.trim="$v.ccform.nik.$model" :class="{'is-invalid': validationStatus($v.ccform.nik)}">
                    <div class="invalid-feedback" v-if="!$v.ccform.nik.required">NIK field is required!</div>
                    <div class="invalid-feedback" v-if="!$v.ccform.nik.minLength">NIK must be 16 Digit!</div>
                    <div class="invalid-feedback" v-if="!$v.ccform.nik.maxLength">NIK must be 16 Digit!</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="NPWP"><h4>NPWP</h4></label>
                    <input type="number" class="form-control" placeholder="Input NPWP (15 Digit)" v-model.trim="$v.ccform.npwp.$model" :class="{'is-invalid': validationStatus($v.ccform.npwp)}">
                    <div class="invalid-feedback" v-if="!$v.ccform.npwp.required">NPWP field is required!</div>
                    <div class="invalid-feedback" v-if="!$v.ccform.npwp.minLength">NPWP must be 15 Digit!</div>
                    <div class="invalid-feedback" v-if="!$v.ccform.npwp.maxLength">NPWP must be 15 Digit!</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="Paycheck"><h4>Slip Gaji/Paycheck</h4></label>
                    <br>
                    <input type="file" class="form-control-file" id="Paycheck" accept="image/*" @change="filePickPaycheck">
                    <br>
                    <img :src="paycheckImageUrl" height="150">
                </div>
            </section>
            
            <section v-if="step == 3">
                <h3>Step 2</h3>
                <h4>Please confirm your personal information</h4>
                <br>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" v-model="ccform.name" readonly>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Gender</label>
                            <input class="form-control" type="text" v-model="ccform.gender" readonly>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Marital Status</label>
                            <input class="form-control" type="text" v-model="ccform.maritalStatus" readonly>
                        </div>
                    </div>
                </div>            
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Address</label>
                            <input class="form-control" type="text" v-model="ccform.address" readonly>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">RT/RW</label>
                            <input class="form-control" type="text" v-model="ccform.rtrw" readonly>
                        </div>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Kelurahan</label>
                            <input class="form-control" type="text" v-model="ccform.kelurahan" readonly>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Kecamatan</label>
                            <input class="form-control" type="text" v-model="ccform.kecamatan" readonly>
                        </div>
                    </div>
                </div> 

                 <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">City</label>
                            <input class="form-control" type="text" v-model="ccform.city" readonly>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Province</label>
                            <input class="form-control" type="text" v-model="ccform.province" readonly>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">ZIP Code</label>
                            <input class="form-control" type="text" v-model="ccform.zipCode" readonly>
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Current Address</label>
                            <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.currentAddress.$model" :class="{'is-invalid': validationStatus($v.ccform.currentAddress)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentAddress.required">Current Address field is required!</div>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Current RT/RW</label>
                            <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.currentRTRW.$model" :class="{'is-invalid': validationStatus($v.ccform.currentRTRW)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentRTRW.required">Current RT/RW field is required!</div>
                        </div>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Current Kelurahan</label>
                            <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.currentKelurahan.$model" :class="{'is-invalid': validationStatus($v.ccform.currentKelurahan)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentKelurahan.required">Current Kelurahan field is required!</div>
                      </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Current Kecamatan</label>
                            <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.currentKecamatan.$model" :class="{'is-invalid': validationStatus($v.ccform.currentKecamatan)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentKecamatan.required">Current Kecamatan field is required!</div>
                        </div>
                    </div>
                </div> 

                 <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Current City</label>
                            <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.currentCity.$model" :class="{'is-invalid': validationStatus($v.ccform.currentCity)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentCity.required">Current City field is required!</div>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Current Province</label>
                            <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.currentProvince.$model" :class="{'is-invalid': validationStatus($v.ccform.currentProvince)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentProvince.required">Current Province field is required!</div>
                        </div>
                    </div>
                    <div class="col">
                       <div class="form-group">
                            <label for="name">Current ZIP Code</label>
                            <input class="form-control" type="number" placeholder=" input here…" v-model.trim="$v.ccform.currentZipCode.$model" :class="{'is-invalid': validationStatus($v.ccform.currentZipCode)}">
                            <div class="invalid-feedback" v-if="!$v.ccform.currentZipCode.required">Current ZipCode field is required!</div>
                        </div>
                    </div>
                </div> 
                 
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Birth Place</label>
                            <input class="form-control" type="text" v-model="ccform.birthPlace" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Birth Date</label>
                            <input class="form-control" type="text" v-model="ccform.birthDate" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Occupation</label>
                    <input class="form-control" type="text" placeholder=" input here…" v-model.trim="$v.ccform.occupation.$model" :class="{'is-invalid': validationStatus($v.ccform.occupation)}">
                    <div class="invalid-feedback" v-if="!$v.ccform.occupation.required">Occupation field is required!</div>
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input class="form-control" type="text" v-model="ccform.email" readonly>
                </div>
                <div class="form-group">
                    <label for="name">Phone Number</label>
                    <input class="form-control" type="text" v-model="ccform.phoneNumber" readonly>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Account Saving Type</label>
                            <input class="form-control" type="text" v-model="ccform.accountSavingType" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Account Saving Number</label>
                            <input class="form-control" type="text" v-model="ccform.accountSavingNumber" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Monthly Income</label>
                    <input class="form-control" type="number" placeholder=" input here…" v-model.trim="$v.ccform.monthlyIncome.$model" :class="{'is-invalid': validationStatus($v.ccform.monthlyIncome)}">
                    <div class="invalid-feedback" v-if="!$v.ccform.monthlyIncome.required">Monthly Income field is required!</div>
                </div>
            </section>
            
            <section v-if="step == 4">
                <h3>Step 3</h3>
                <h4>Select Card</h4>
                <div class="row" id="card">
                    <div class="col col-md-auto" style="height: 10rem">
                        <div class="button-group">
                        <input type="radio" class="btn-check" name="options" id="option1" value="Silver" v-model="ccform.card" autocomplete="off" />
                        <label class="btn btn-secondary" for="option1">
                            <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="@/assets/Silver.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Silver</h5>
                                <p class="card-text">
                                    - Limit up to IDR 100M <br>
                                    - Full Payment <br>
                                    - Limited cashback only
                                </p>
                            </div>
                        </label>
                        </div>
                    </div>
                    <div class="col col-md-auto">
                        <div class="button-group">
                        <input type="radio" class="btn-check" name="options" id="option2" value="Platinum" v-model="ccform.card" autocomplete="off" />
                            <label class="btn btn-secondary" for="option2">
                                <div class="card" style="width: 20rem;">
                                    <img class="card-img-top" src="@/assets/Platinum.png" alt="Card image cap" style="height:12.3rem">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Platinum</h5>
                                    <p class="card-text">
                                        - Limit up to IDR 500M <br>
                                        - Full payment <br>
                                        - Bonus cashbacks
                                    </p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signature"><h4>Signature</h4></label>
                    <br>
                    <input type="file" class="form-control-file" id="signature" accept="image/*" @change="filePickSignature">
                    <br>
                    <img :src="signatureImageUrl" height="150">
                </div>
            </section>

            <button id="btn" class="btn btn-primary" v-if="step != 1" @click.prevent="prevStep">Previous Step</button>
            <button id="btn" class="btn btn-primary" v-if="step != totalStep" @click.prevent="nextStep">Next Step</button>
            <br>
            <button id="submitbtn" class="btn btn-success" v-if="step == 4" @click.prevent="submitHandler" type="submit">Submit</button>

        </form>
    </div>
</template>

<script>
    import axios from 'axios';
    import { required, minLength, maxLength } from 'vuelidate/lib/validators'

    export default {
        name: 'myForm',
        data(){
            return{
                step: 1,
                totalStep: 4,
                paycheckImageUrl: null,
                signatureImageUrl: null,
                image1: null,
                image2: null,
                userId: '',
                customerId: '',
                token: '',

                ccform: {
                    nik: '',
                    npwp: '',
                    paycheck: '',

                    name: '',
                    gender: '',
                    maritalStatus: '',
                    address: '',
                    kecamatan: '',
                    kelurahan: '',
                    rtrw: '',
                    city: '',
                    province: '',
                    zipCode: '',
                    currentAddress: '',
                    currentKecamatan: '',
                    currentKelurahan: '',
                    currentRTRW: '',
                    currentCity: '',
                    currentProvince: '',
                    currentZipCode: '',
                    birthDate: '',
                    birthPlace: '',
                    occupation: '',
                    accountSavingNumber: '',
                    accountSavingType: '',
                    email: '',
                    phoneNumber: '',
                    monthlyIncome: '',
                    card: '',
                    signature: '',
                }
            }
        },
        validations: {
            ccform: {
                nik: {required, minLength: minLength(16), maxLength: maxLength(16)},
                npwp: {required, minLength: minLength(15), maxLength: maxLength(15)},
                currentAddress: {required},
                currentKecamatan: {required},
                currentKelurahan: {required},
                currentRTRW: {required},
                currentCity: {required},
                currentProvince: {required},
                currentZipCode: {required},
                occupation: {required},
                monthlyIncome: {required}
            }
        },
        created: function(){
            var load = JSON.parse(localStorage.getItem('appUserAuth'));
            this.userId = load.userId;
            this.token = load.token;
        },
        methods: {
            validationStatus: function(validation){
                return typeof validation != "undefined" ? validation.$error : false;
            },

            submitHandler() {
                this.$v.$touch();
                if(this.$v.$pendding || this.$v.$error){
                    alert("Please check again and Fill all the required data!"); this.step = 2; return;
                }else if(this.paycheckImageUrl == null){
                    alert("Plase upload your Paycheck!"); this.step = 2; return;
                }else if(this.signatureImageUrl == null){
                    alert("Please upload your Signature!"); return;
                }

                const submitData = {
                    userId: this.userId,
                    customerId: this.customerId,

                    nik: this.ccform.nik,
                    npwp: this.ccform.npwp,
                    paycheck: this.paycheckImageUrl,

                    currentAddress: this.ccform.currentAddress,
                    currentKecamatan: this.ccform.currentKecamatan,
                    currentKelurahan: this.ccform.currentKelurahan,
                    currentRTRW: this.ccform.currentRTRW,
                    currentCity: this.ccform.currentCity,
                    currentProvince: this.ccform.currentProvince,
                    currentZipCode: this.ccform.currentZipCode,
                    occupation: this.ccform.occupation,
                    accountSavingType: this.ccform.accountSavingType,
                    accountSavingNumber: this.ccform.accountSavingNumber,
                    monthlyIncome: this.ccform.monthlyIncome,

                    card: this.ccform.card,
                    signature: this.signatureImageUrl,
                    status: "Not Verified"
                }
                axios.post("http://localhost:8080/verifyToken/" + this.userId, {token: this.token})
                .then((response) =>{
                    axios.post("http://localhost:8080/postCCApplicant", submitData)
                    .then((resp) => {
                        if(resp.status == 200){
                            alert("Registration Success! Thank you for your submition!");
                            this.$router.push('/product');
                        } else { alert("Registration Failed!") }
                    })
                }).catch( error => {
                    alert("Token is invalid!");
                        localStorage.clear();
                        this.$router.push('/');
                })
            },

            prevStep() {
                this.step--;
                if(this.step == 3){
                    axios.get("http://localhost:8080/appUser/" + this.userId)
                    .then((resp) => {
                        this.customerId = resp.data.customerId;
                        this.ccform.email = resp.data.email;

                        axios.get("http://localhost:8080/customer/" + this.customerId)
                        .then((resp) => {
                            this.ccform.name = resp.data.name;
                            this.ccform.gender = resp.data.gender;
                            this.ccform.maritalStatus = resp.data.maritalStatus;
                            this.ccform.address = resp.data.address;
                            this.ccform.rtrw = resp.data.rtrw;
                            this.ccform.kelurahan = resp.data.kelurahan;
                            this.ccform.kecamatan = resp.data.kecamatan;
                            this.ccform.city = resp.data.city;
                            this.ccform.province = resp.data.province;
                            this.ccform.zipCode = resp.data.zipCode;
                            this.ccform.birthPlace = resp.data.birthPlace;
                            this.ccform.birthDate = resp.data.birthDate;
                            this.ccform.phoneNumber = resp.data.phoneNumber;
                        })

                        axios.get("http://localhost:8080/account/" + this.customerId)
                        .then((resp) => {
                            this.ccform.accountSavingType = resp.data.accountType;
                            this.ccform.accountSavingNumber = resp.data.accountNumber;
                        })
                    })
                }
            },
            nextStep() {
                this.step++;
                if(this.step == 3){
                    axios.get("http://localhost:8080/appUser/" + this.userId)
                    .then((resp) => {
                        this.customerId = resp.data.customerId;
                        this.ccform.email = resp.data.email;

                        axios.get("http://localhost:8080/customer/" + resp.data.customerId)
                        .then((resp) => {
                            this.ccform.name = resp.data.name;
                            this.ccform.gender = resp.data.gender;
                            this.ccform.maritalStatus = resp.data.maritalStatus;
                            this.ccform.address = resp.data.address;
                            this.ccform.rtrw = resp.data.rtrw;
                            this.ccform.kelurahan = resp.data.kelurahan;
                            this.ccform.kecamatan = resp.data.kecamatan;
                            this.ccform.city = resp.data.city;
                            this.ccform.province = resp.data.province;
                            this.ccform.zipCode = resp.data.zipCode;
                            this.ccform.birthPlace = resp.data.birthPlace;
                            this.ccform.birthDate = resp.data.birthDate;
                            this.ccform.phoneNumber = resp.data.phoneNumber;
                        })

                        axios.get("http://localhost:8080/account/" + this.customerId)
                        .then((resp) => {
                            this.ccform.accountSavingType = resp.data.accountType;
                            this.ccform.accountSavingNumber = resp.data.accountNumber;
                        })
                    })
                }
            },

            filePickPaycheck(event){
                const files = event.target.files
                let fileName = files[0].name
                if(fileName.lastIndexOf('.') <= 0) {
                    return alert('Please Add Valid Image.')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    const base64 = this.paycheckImageUrl = fileReader.result
                    console.log(base64)
                })
                fileReader.readAsDataURL(files[0])
                this.image1 = files[0]
            },

            filePickSignature(event){
                const files = event.target.files
                let fileName = files[0].name
                if(fileName.lastIndexOf('.') <= 0) {
                    return alert('Please Add Valid Image.')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    const base64 = this.signatureImageUrl = fileReader.result
                    console.log(base64)
                })
                fileReader.readAsDataURL(files[0])
                this.image2 = files[0]
            }
        }
    }

</script>

<style>
    section{
        padding-top: 25px;
    }

    #card{
        margin-bottom: 5%;
        margin-left: 17%;
    }

    #btn{
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #submitbtn{
        margin-bottom: 5%;
    }

    p {
        text-align: justify;
        margin-left: 15%;
        margin-right: 15%;
    }

</style>