<template>
  <div>
        <div class="col-md-12 h-100 d-flex justify-content-center align-items-center" style="padding-top: 20px; padding-bottom: 25px;">
            <div class="col-md-6 rounded px-5 py-4 shadow text-left" style="background-color: whitesmoke;">
                <label class="col-form-label col-form-label-lg" style="font-weight: bold;">Forgot Password</label><br><br>
                <form id="signup-form" v-on:submit.prevent="submit">
                    <div class="row">
                       <div class="row">
                            <div class="form-group col-8">
                                <label class="col-form-label col-form-label-lg">Email Address</label>
                                <input type="text" v-model.trim="$v.email.$model" :class="{'is-invalid': validationStatus($v.email)}" class="form-control" readonly>
                            </div>
                            <div class="form-group col-4" style="margin-top: 8%">
                                <button type="button" class="btn btn-vue col-10" @click="sendToEmail">Send Token</button>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Token</label>
                            <input type="text" v-model.trim="$v.token.$model" :class="{'is-invalid': validationStatus($v.token)}" class="form-control">
                            <div class="invalid-feedback" v-if="!$v.token.required">Token field is required!</div>
                        </div>
                        <div class="col-12 form-group text-center" style="margin-top: 5%">
                            <router-link to="/resetPassword">
                                <button type="button" class="btn btn-vue col-4" style="margin-right: 10px;">Back</button>
                            </router-link>
                            <button type="submit" class="btn btn-vue col-4" style="margin-left: 10px;">Send</button>
                        </div>
                        <p style="color: red; margin-top: 20px;">{{errorMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import emailjs from 'emailjs-com'
import { required, email } from 'vuelidate/lib/validators'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    name: 'ForgotPassword',
    data: function(){
        return {
            email: '',
            token: '',
            sendToken: '',
            sent: false,
            errorMessage: '',
            customerId: '',
            customerName: '',
            username: ''
        }
    },
    validations: {
        email: {required, email},
        token: {required}
    },
    created: function(){
        var load = JSON.parse(localStorage.getItem('customerCookies'));
        this.customerId = load.customerId;

        axios.get('http://localhost:8080/appUser/customerId/' + this.customerId)
        .then((resp) => {
            this.email = resp.data.email;
            this.username = resp.data.username;
        })

    },
    methods: {
        resetData: function(){
            this.email = '';
            this.token = '';
        },

        validationStatus: function(validation){
            return typeof validation != "undefined" ? validation.$error : false;
        },

        sendToEmail(){
            if(!this.email) {
                this.errorMessage = "Please input an Email!"
                return;
            }else if(this.sent){
                alert("Token sent already!");
                return;
            }

            axios.get('http://localhost:8080/customer/' + this.customerId)
            .then((resp) => {
                this.customerName = resp.data.name;

                this.errorMessage = "";
                this.sent = true;
                this.sendToken = Math.floor(100000 + Math.random() * 900000);
                try{
                    emailjs.send('service_2td0tzd', 'template_u3lfh13', {email: this.email, token: this.sendToken, name: this.customerName, username: this.username}, '3l8y7k-G-Z_0Ny0ke')
                    alert("Token sent successfully")
                } catch(error) {
                    console.log({error})
                }
            })
        },

        submit: function(){
            this.$v.$touch();
            if(this.$v.$pendding || this.$v.$error) return;
            
            if(this.token == this.sendToken){
                axios.put('http://localhost:8080/appUser/customerId/' + this.customerId + '/updatePasswordToDefault' )
                .then((resp) => {
                    this.$v.$reset();
                    this.resetData();
                    this.$router.push('/resetPassword');
                })
            }else{
                this.errorMessage = "Token is wrong!"
            }
        },
    }
}
</script>

<style>
.btn-vue{
    background: #e30717;
    color: #fcefed;
    font-weight: bold;
    border-radius: 15px;
}
</style>