<template>
  <div>
    <br />
    <div class="p-3 mb-2 bg-white text-black" width="50" height="50">
      <div class="container">
        <div class="col-1"></div>
        <div class="row justify-content-space-between">
          <div class="col-4 align-self-start text-start">
            <div style="display: flex">
              <img src="../assets/iBankLogo.png" alt="" width="100px" height="50px" class="d-inline-block align-text-top"/>
              <h6 class="row justify-content-center mt-3 m-7 fs-5" style="margin-left: 10px"> Login Internet Banking</h6>
            </div>
            <br />

            <div class="row justify-content-center">
              <form v-on:submit.prevent="postData">
                <div class="mb-3">
                  <input type="username" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2" v-model="posts.username" required/>
                </div>

                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" v-model="posts.password" required/>
                </div>

                <p class="col m-2 text-start">
                  Doesn't have an account?
                  <router-link style="text-decoration: none" to="/register">Sign Up</router-link>
                </p>

                <div class="row mb-0">
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-danger">Login</button>
                    <br />
                  </div>

                  <p class="paragraph" style="font-size: 10px">
                    Aktivasi Internet Banking
                    <br />
                    <br />
                    Jika Anda telah melakukan Registrasi Internet Banking
                    melalui ATM Bank Sinarmas, silahkan klik PETUNJUK aktivasi
                    ini.<br />Anda dapat menggunakan fasilitas Internet Banking
                    Bank Sinarmas dengan mudah. <br />
                    <br />
                    1. Registrasi Internet Banking melalui ATM Bank Sinarmas.<br />2.
                    Aktivasi melalui halaman login Internet Banking Bank
                    Sinarmas.<br />3. Lakukan permintaan dan aktivasi token
                    melalui Internet Banking untuk memudahkan Anda dalam
                    melakukan transaksi keuangan/finansial.<br />4. Ambil token
                    di kantor cabang Bank Sinarmas yang Anda pilih.<br />5.
                    Dengan melakukan Registrasi dan Aktivasi, Anda menyetujui
                    SYARAT & KETENTUAN Internet Banking Bank Sinarmas.
                  </p>
                </div>
              </form>
            </div>
            <router-view/>
          </div>

          <div class="col-5 align-self-center text-start">
            <img src="../assets/PicSin.jpg" alt="" width="800px" height="500px"/>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    name:"Login",
        data(){
            return{
              posts:{
                username:"Alpha",
                password:"alpha123"
              }
            }
        },
    mounted() {
        if (localStorage.getItem('reloadPage')) {
            localStorage.removeItem('reloadPage');
        } else {
            localStorage.setItem('reloadPage', '1');
            location.reload();
        }
    },
    methods:{
        postData(e){
            axios.post("http://localhost:8080/customer/login", this.posts)
            .then(response => {
                if(response.status == 200){
                    axios.get('http://localhost:8080/appUser/username/' + this.posts.username)
                    .then((resp) => {
                        var appUserData = {
                          userId: resp.data.userId,
                          username: this.posts.username,
                          token: response.data.token
                        }
                        localStorage.setItem('appUserAuth', JSON.stringify(appUserData));
                        this.$router.push('/product');
                        alert("Login Success!");
                    })
                }
            }).catch(error => { console.warn(error.response) })
        }
    }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
