<template>
    <div>
        <div class="col-md-12 h-100 d-flex justify-content-center align-items-center" style="padding-top: 20px; padding-bottom: 25px;">
            <div class="col-md-6 rounded px-5 py-4 shadow text-left" style="background-color: whitesmoke;">
                <label class="col-form-label col-form-label-lg" style="font-weight: bold;">Create an Account</label><br><br>
                <form id="signup-form" v-on:submit.prevent="submit">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Username</label>
                            <input type="text" v-model.trim="$v.username.$model" :class="{'is-invalid': validationStatus($v.username)}" class="form-control form-control-lg">
                            <div class="invalid-feedback" v-if="!$v.username.required">Username field is required!</div>
                            <div class="invalid-feedback" v-if="!$v.username.minLength">Username minimum 4 characters!</div>
                            <div class="invalid-feedback" v-if="!$v.username.maxLength">Username not more than 20 characters!</div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Password</label>
                            <input type="password" v-model.trim="$v.password.$model" :class="{'is-invalid': validationStatus($v.password)}" class="form-control form-control-lg">
                            <div class="invalid-feedback" v-if="!$v.password.required">Password field is required!</div>
                            <div class="invalid-feedback" v-if="!$v.password.minLength">Password minimum 5 characters!</div>
                            <div class="invalid-feedback" v-if="!$v.password.maxLength">Password not more than 15 characters!</div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Confirm Password</label>
                            <input type="password" v-model.trim="$v.confirmPassword.$model" :class="{'is-invalid': validationStatus($v.confirmPassword)}" class="form-control form-control-lg">
                            <div class="invalid-feedback" v-if="!$v.confirmPassword.required">Confirm Password field is required!</div>
                            <div class="invalid-feedback" v-if="!$v.confirmPassword.minLength">Confirm Password minimum 5 characters!</div>
                            <div class="invalid-feedback" v-if="!$v.confirmPassword.maxLength">Confirm Password not more than 15 characters!</div>
                        </div>
                        <div class="col-12 form-group text-center" style="margin-top: 5%">
                            <button class="btn btn-vue col-4">Create</button>
                        </div>
                        <p style="color: red; margin-top: 20px;">{{errorMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { required, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'
import moment from 'moment'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    name: 'NewUser',
    data: function(){
        return{ 
            username: '',
            password: '',
            confirmPassword: '',
            customerId: '',
            email: '',
            errorMessage: ''
        }
    },
    validations: {
        username: {required, minLength: minLength(4), maxLength: maxLength(20)},
        password: {required, minLength: minLength(5), maxLength: maxLength(15)},
        confirmPassword: {required, minLength: minLength(5), maxLength: maxLength(15) },
    },
    created: function(){
        var load = JSON.parse(localStorage.getItem('customerCookies'));
        this.customerId = load.customerId;
        this.email = load.email;
    },
    methods: {
        resetData: function(){
            this.username = '';
            this.password = '';
            this.confirmPassword = '';
        },

        validationStatus: function(validation){
            return typeof validation != "undefined" ? validation.$error : false;
        },

        submit: function(){
            this.$v.$touch();
            if(this.$v.$pendding || this.$v.$error) return;
            else if(this.password != this.confirmPassword){
                this.errorMessage = "Password and Confirm Password does not match!";
                this.$v.$reset();
                this.resetData();
                return;
            }

            var appUser = {
                customerId: this.customerId,
                username: this.username,
                password: this.password,
                loginFailed: 0,
                isLogin: false,
                email: this.email,
                status: 'Active',
                createdDate: moment().format(),
                createdBy: 'Admin',
                lastUpdatedDate: moment().format(),
                lastUpdatedBy: 'Admin'
            }

            axios.get('http://localhost:8080/appUser/username/' + this.username)
            .then((resp) => {
                if(resp.data.userId == null){
                    axios.post('http://localhost:8080/appUser/post', appUser)
                    .then((resp) => {
                        localStorage.clear();
                        this.$v.$reset();
                        this.resetData();
                        this.$router.push('/');
                    })
                }else{
                    this.errorMessage = "Username Exist!"
                    this.$v.$reset();
                    this.resetData();
                }
            })
        }
    }
}
</script>

<style>
.btn-vue{
    background: #e30717;
    color: #fcefed;
    font-weight: bold;
    border-radius: 15px;
}
</style>