<template>
    <div>
        <div class="p-3 mb-2 bg-dark text-white" width="50" height="50">
            <div class="text-center">
                <img src="@/assets/BannerKartuKredit.png" alt="" width="1000px" height="400px" />
            </div>
        </div>

        <br><br><br>

        <h2 class="text-center fw-bold" style="color:black ">
            Apa saja Produk Bank Sinarmas
        </h2>
        <h5 class="text-center" style="color:gray">
            Beberapa jenis produk yang dimiliki oleh Bank Sinarmas, pilih jenis produk untuk info yang anda perlukan.
        </h5>
        
        <br><br><br>

        <div class="row justify-content-between" style="background-color: whitesmoke; padding: 30px; margin: auto;">
            <div class="col-1"></div>
            <div class="col-5 align-self-center text-start">
                <h2 class="fw-bold" style="color: black">Kartu Kredit</h2>
                <p class="paragraph">
                    Apply online kartu kredit Sinarmas mudah banget! 
                    Dapatkan bonus cashback yang berlimpah dan penawaran spesial
                </p>
                <a href="/applyCC" style="text-decoration: none; color: #fcefed">
                    <button class="btn btn-vue" style="width: 50%;">
                        Selengkapnya
                    </button>
                </a>
            </div>

            <div class="col-5 align-self-center text-start">
                <img src="@/assets/KartuKredit.jpg" alt="" width="550px" height="350px" />
            </div>
            <div class="col-1"></div>
        </div>

        <br>

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-6 align-self-center text-end">
                    <img src="@/assets/DepositoOnline.jpg" alt="" width="550px" height="350px" />
                </div>

                <div class="col-6 align-self-center text-start" style="padding-left: 30px">
                    <h2 class="fw-bold" style="color: black">
                        Deposito Online
                    </h2>
                    <p class="paragraph">
                        Tidak perlu ribet lagi karena buka deposito bisa dilakukan secara online 
                        dan sangat mudah! Teman menabung para pelajar
                    </p>
                    <button class="btn btn-vue" style="width: 50%;" @click="comingSoon">
                        Coming Soon
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods:{
        comingSoon(){
            alert("Coming Soon!");
        }
    },
    mounted() {
        if (localStorage.getItem('reloadPage')) {
            localStorage.removeItem('reloadPage');
        } else {
            localStorage.setItem('reloadPage', '1');
            location.reload();
        }
    }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.btn-vue{
    background: #e30717;
    color: #fcefed;
    font-weight: bold;
    border-radius: 15px;
}
</style>