<template>
    <div>
        <div class="col-md-12 h-100 d-flex justify-content-center align-items-center" style="padding-top: 20px; padding-bottom: 25px">
            <div class="col-md-6 rounded px-5 py-4 shadow text-left" style="background-color: whitesmoke">
                <label class="col-form-label col-form-label-lg" style="font-weight: bold;">User Registration</label><br><br>
                <form id="signup-form" v-on:submit.prevent="submit">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">PAN Number</label>
                            <input type="text" v-model.trim="$v.pan.$model" :class="{'is-invalid': validationStatus($v.pan)}" class="form-control" placeholder="PAN Number">
                            <div class="invalid-feedback" v-if="!$v.pan.required">PAN number is required!</div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">PIN Number</label>
                            <input type="password" v-model.trim="$v.pin.$model" :class="{'is-invalid': validationStatus($v.pin)}" class="form-control" placeholder="PIN">
                            <div class="invalid-feedback" v-if="!$v.pin.required">PIN number is required!</div>
                            <div class="invalid-feedback" v-if="!$v.pin.minLength">PIN Number must 6 digit!</div>
                            <div class="invalid-feedback" v-if="!$v.pin.maxLength">PIN Number must 6 digit!</div>
                        </div>
                        <div class="row">
                            <div class="form-group col-8">
                                <label class="col-form-label col-form-label-lg">Email Address</label>
                                <input type="text" v-model.trim="$v.email.$model" :class="{'is-invalid': validationStatus($v.email)}" class="form-control" placeholder="example@gmail.com">
                                <div class="invalid-feedback" v-if="!$v.email.required">Email Address field is required!</div>
                                <div class="invalid-feedback" v-if="!$v.email.email">Email must be valid!</div>
                            </div>
                            <div class="form-group col-4" style="margin-top: 8%">
                                <button type="button" class="btn btn-vue col-12" @click="sendToEmail">Send Token</button>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Token</label>
                            <input type="text" v-model.trim="$v.token.$model" :class="{'is-invalid': validationStatus($v.token)}" class="form-control">
                            <div class="invalid-feedback" v-if="!$v.token.required">Token field is required!</div>
                        </div>
                        <div class="col-12 form-group text-center" style="margin-top: 5%">
                            <button type="submit" class="btn btn-vue col-4">Next</button>
                        </div>
                        <p style="color: red; margin-top: 20px;">{{errorMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import emailjs from 'emailjs-com'
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    name: 'Register',
    data: function(){
        return {
            customerId: '',
            pin: '',
            pan: '',
            email: '',
            token: '',
            sendToken: '',
            sent: false,
            errorMessage: ''
        }
    },
    validations: {
        pan: {required},
        pin: {required, minLength: minLength(6), maxLength: maxLength(6)},
        email: {required, email},
        token: {required}
    },
    methods: {
        resetData: function(){
            this.pan = '';
            this.pin = '';
            this.email = '';
            this.token = '';
        },

        validationStatus: function(validation){
            return typeof validation != "undefined" ? validation.$error : false;
        },

        sendToEmail(){
            if(!this.email) {
                this.errorMessage = "Please input an Email!"
                return;
            }else if(this.sent){
                alert("Token sent already!");
                return;
            }

            this.errorMessage = "";
            this.sent = true;
            this.sendToken = Math.floor(100000 + Math.random() * 900000);
            try{
                emailjs.send('service_2td0tzd', 'template_3df8mtp', {email: this.email, token: this.sendToken}, '3l8y7k-G-Z_0Ny0ke')
                alert("Token sent successfully")
            } catch(error) {
                console.log({error})
            }
        },

        submit: function(){
            this.$v.$touch();
            if(this.$v.$pendding || this.$v.$error) return;

            axios.get('http://localhost:8080/customer/pan/' + this.pan)
            .then((resp)=>{
                if(resp.data.customerId != null) this.customerId = resp.data.customerId;
                else { this.errorMessage = "PAN Number is not exist!"; return; }

                axios.get('http://localhost:8080/customer/' + this.customerId + '/pin/' + this.pin)
                .then((resp)=>{
                    if(resp.data.customerId == null){ this.errorMessage = "PIN Number is not exist!"; return; }

                    if(this.token == this.sendToken){
                        axios.get('http://localhost:8080/appUser/customerId/' + this.customerId)
                        .then((resp) =>{
                            var customer = {
                                customerId: this.customerId,
                                email: this.email,
                            };
                            localStorage.clear();
                            localStorage.setItem('customerCookies', JSON.stringify(customer));

                            this.$v.$reset();
                            this.resetData();
                            if(resp.data.customerId == null){
                                this.$router.push('/newUser');
                            }else{
                                this.$router.push('/resetPassword');
                            }
                        })
                    }else{ this.errorMessage = "Token is wrong!" }
                })
            })
        }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.btn-vue{
    background: #e30717;
    color: #fcefed;
    font-weight: bold;
    border-radius: 15px;
}
</style>