<template>
  <div>
        <div class="col-md-12 h-100 d-flex justify-content-center align-items-center" style="padding-top: 20px; padding-bottom: 25px;">
            <div class="col-md-6 rounded px-5 py-4 shadow text-left" style="background-color: whitesmoke;">
                <label class="col-form-label col-form-label-lg" style="font-weight: bold;">Reset Password</label><br><br>
                <form id="signup-form" v-on:submit.prevent="submit">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Current Password</label>
                            <input type="password" v-model.trim="$v.currentPassword.$model" :class="{'is-invalid': validationStatus($v.currentPassword)}" class="form-control form-control-lg">
                            <div class="invalid-feedback" v-if="!$v.currentPassword.required">Current Password field is required!</div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">New Password</label>
                            <input type="password" v-model.trim="$v.newPassword.$model" :class="{'is-invalid': validationStatus($v.newPassword)}" class="form-control form-control-lg">
                            <div class="invalid-feedback" v-if="!$v.newPassword.required">Password field is required!</div>
                            <div class="invalid-feedback" v-if="!$v.newPassword.minLength">New Password minimum 5 characters!</div>
                            <div class="invalid-feedback" v-if="!$v.newPassword.maxLength">New Password not more than 15 characters!</div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="col-form-label col-form-label-lg">Confirm New Password</label>
                            <input type="password" v-model.trim="$v.confirmNewPassword.$model" :class="{'is-invalid': validationStatus($v.confirmNewPassword)}" class="form-control form-control-lg">
                            <div class="invalid-feedback" v-if="!$v.confirmNewPassword.required">Username field is required!</div>
                            <div class="invalid-feedback" v-if="!$v.confirmNewPassword.minLength">Confirm Password minimum 5 characters!</div>
                            <div class="invalid-feedback" v-if="!$v.confirmNewPassword.maxLength">Confirm Password not more than 15 characters!</div>
                        </div>
                        <div class="col-12 form-group text-center" style="margin-top: 5%">
                            <button class="btn btn-vue col-4">Reset</button>
                        </div>
                        <router-link to="/forgotPassword">
                            <label class="col-form-label" style="text-align: left; color: red; cursor: pointer;">Forgot Password?</label>
                        </router-link>
                        <p style="color: red; margin-top: 10px;">{{errorMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { required, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    name: 'ResetPassword',
    data: function(){
        return {
            currentPassword: '',
            newPassword: '',
            confirmNewPassword: '' ,
            errorMessage: '',
            customerId: ''
        }
    },
    validations: {
        currentPassword: {required},
        newPassword: {required, minLength: minLength(5), maxLength: maxLength(15)},
        confirmNewPassword: {required, minLength: minLength(5), maxLength: maxLength(15)},
    },
    created: function(){
        var load = JSON.parse(localStorage.getItem('customerCookies'));
        this.customerId = load.customerId;
    },
    methods: {
        resetData: function(){
            this.currentPassword = '';
            this.newPassword = '';
            this.confirmNewPassword = '';
        },

        validationStatus: function(validation){
            return typeof validation != "undefined" ? validation.$error : false;
        },

        submit: function(){
            this.$v.$touch();

            if(this.$v.$pendding || this.$v.$error) return;
            else if(this.currentPassword == this.newPassword){
                this.errorMessage = "Current Password and New Password must not same!";
                this.$v.$reset();
                this.resetData();
                return;
            }else if(this.newPassword != this.confirmNewPassword){
                this.errorMessage = "New Password and Confirm Password does not match!"
                this.$v.$reset();
                this.resetData();
                return;
            }

            axios.get('http://localhost:8080/appUser/customerId/' + this.customerId + '/password/' + this.currentPassword)
            .then((resp)=>{
                if(resp.data.password != null){
                    axios.put('http://localhost:8080/appUser/customerId/' + this.customerId + '/resetPassword' , {password: this.newPassword})
                    .then((resp) =>{
                        localStorage.clear();
                        this.$v.$reset();
                        this.resetData();
                        this.$router.push('/');
                    })
                }else{
                    this.errorMessage = "Current Password is wrong!";
                    this.$v.$reset();
                    this.resetData();
                }
            })
        },
    }
}
</script>

<style>
.btn-vue{
    background: #e30717;
    color: #fcefed;
    font-weight: bold;
    border-radius: 15px;
}
</style>