<template>
<div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title" style="text-align: center">Create User</h5>
                    </div>
                    <div class="card-body">
                        <form v-on:submit.prevent="addUser">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" v-model="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="text" class="form-control" v-model="age">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" v-model="address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <input list="role-name-list" v-model="roleName" placeholder="Select Roles">
                                        <datalist id="role-name-list">
                                            <option v-for="option in options" :key="option.id" :value="option">
                                                {{option}}
                                            </option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" v-model="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" v-model="username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" v-model="password">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="create-user-button">
                                    <button type="submit" class="btn btn-primary btn-round">Create User</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import swal from 'sweetalert2';

window.Swal = swal;

export default {
    name: "MyAdmin",
    data(){
        return {
            name: '',
            age: '',
            address: '',
            roleName: '',
            roleId: Number,
            email: '',
            username: '',
            password: '',
            options: [
                'Validator',
                'Verifikator'
            ]
        }
    },
    methods: {
        addUser() {
            if (this.roleName != '') {
                if (this.roleName == 'Verifikator') {
                    this.roleId = 2;
                }
                else if (this.roleName == 'Validator') {
                    this.roleId = 3;
                }
            }
            const userData = {
                roleId: this.roleId,
                name: this.name,
                age: this.age,
                address: this.address,
                email: this.email,
                username: this.username,
                password: this.password
            }

            var validateData = 0;

            axios.get('http://localhost:8080/userAdmins')
            .then(function (response) {
                response.data.forEach(users => {
                    if (userData.username == users.username) {
                        swal.fire('Notification', 'Username Already Taken', 'warning')
                        validateData = 1;
                        return;
                    }
                })
            })

            if (this.password == '') {
                swal.fire('Notification', 'Password Cannot be Empty', 'warning')
                validateData = 1;
                return;
            }
            else if(this.age == ''){
                swal.fire('Notification', 'Age Must be Numeric', 'warning')
                validateData = 1;
                return;
            }
            else if (this.roleName == '') {
                swal.fire('Notification', 'Roles Cannot be Empty', 'warning')
                validateData = 1;
                return;
            }
            else if (this.name == '') {
                swal.fire('Notification', 'First Name Cannot be Empty', 'warning')
                validateData = 1;
                return;
            }
            else if (validateData == 0) {
                axios.post('http://localhost:8080/userAdmin/post', userData)
                .then((response) => {
                    swal.fire('Notification', 'Account Created', 'success');
                    this.$router.go();
                })
            }
        }
    }
}
</script>

<style>

.create-user-button button{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

</style>