<template>
  <div class="content">
         <div class="row">
           <div class="col-md-12">
             <div class="card">
               <div class="card-header">
                 <h4 style="text-align: center;" class="card-title">Details User</h4>
               </div>
               <div class="card-body">
                <form>
                <div class="form-group row">
                     <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Name</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.name" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">City</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.city" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">NPWP</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.NPWP" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">NIK</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.NIK" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 2px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Phone Number</label>
                        <div class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.phoneNumber" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Address</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.address" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 2px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Account Number</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.accountNumber" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Province</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.province" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">District</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.district" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Ward</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.ward" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">RT/RW</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.RTRW" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Zip Code</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.zipCode" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 5px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Occupation</label>
                        <div style="text-align: center; margin-bottom: 7px;" class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.occupation" readonly>
                        </div>

                        <label style="text-align: center; margin-top: 2px; font-size:8px; margin-left: 15px" class="col-sm-1 col-form-label">Monthly Income</label>
                        <div class="col-sm-10">
                        <input class="form-control" placeholder="Name" v-model="applicant.monthlyIncome" readonly>
                        </div>
                </div>
                </form>
                   <div class="d-grid gap-2 d-md-flex justify-content-center">
                         <button type="button" @click="verifiedAction" class="btn btn-primary btn-round" style="margin-left: 4px; background: #8dde47; border: none" >Verify</button>
                         <button type="button" @click="rejectAction" class="btn btn-primary btn-round" style="margin-left: 4px; background: #e30717">Reject </button>
                     </div>
               </div>
             </div>
           </div>
         </div>
       </div>
</template>

<script>
import axios from 'axios';

export default {
     data(){
        return{
            applicant: undefined,
        }
    },
    methods : {
        verifiedAction: function(){
            if(confirm("Verify " + this.applicant.name + " " + "information ?")){
                axios.put("http://localhost:8080/creditCardApplicants/ " + this.applicant.applicantId + "/verified")
                .then((resp) =>{
                    alert(this.applicant.name + " " + "Verified")
                    this.$router.push('/verifikator');
                })
            }
        },
        rejectAction: function(){
            if(confirm("Reject " + this.applicant.name + " " + "information ?")){
                axios.put("http://localhost:8080/creditCardApplicants/ " + this.applicant.applicantId + "/rejected")
                .then((resp) =>{
                    alert(this.applicant.name + " " + "Rejected")
                    this.$router.push('/verifikator');
                })
            }
        }
    },
    mounted(){
        this.applicant = this.$route.params.applicantDetail;
    },
}
</script>