<template>
    <div>
        <div class="container mt-5">
            <h1 style="text-align: center">User Admin</h1>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-5" style="text-align: center" id="form1">
                        <div class="forms-inputs mb-4">
                            <span>Username </span>
                            <input type="text" v-model="username" placeholder="Enter Username">
                        </div>
                        <div class="forms-inputs mb-4">
                            <span>Password </span>
                            <input type="password" v-model="password" placeholder="Enter Password">
                        </div>
                        <div class="mb-3">
                            <button v-on:click="login" class="btn btn-dark w-100">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import swal from 'sweetalert2';

window.Swal = swal;

export default {
    name: "MyLogin",
    data(){
        return {
            admin: {
                adminId: Number,
                name: '',
                roleId: Number,
                roleName: '',
                position: Number
            },
            username: '',
            password: ''
        }   
    },
    methods: {
        login() {
            if (this.username != '' && this.password != '') {
                axios.get("http://localhost:8080/userAdmin/"  + this.username + "/" + this.password)
                .then((resp) =>{
                    if(resp.data != ''){
                        swal.fire('Notification', 'Login Success', 'success');
                        this.admin.adminId = resp.data.adminId;
                        this.admin.name = resp.data.name;
                        this.admin.roleId = resp.data.roleId;

                        axios.get("http://localhost:8080/role/" + this.admin.roleId)
                        .then((resp) =>{
                            this.admin.roleName = resp.data.name;
                            this.admin.position = 1;
                            
                            localStorage.setItem("adminAuth", JSON.stringify({admin: this.admin}));
                            this.$router.push("/");
                            this.$router.go();
                        })
                    }else{
                        swal.fire('Notification', 'Username or Password Wrong!', 'error')
                    }
                })
            }else{
                swal.fire('Notification', 'Login Failed', 'error')
            }
        }
    }
}
</script>