<template>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Your Profile</h5>
                    </div>
                    <div class="card-body">
                        <form v-on:submit.prevent="updatePassword">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" v-model="this.name" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="text" class="form-control" v-model="this.age" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" v-model="this.address" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" v-model="this.email" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" v-model="this.username" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-if="changePassword">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="password" class="form-control" v-model="currentPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-if="changePassword">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" v-model="newPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-if="changePassword">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <input type="password" class="form-control" v-model="confirmNewPassword">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="update-profile-button">
                                    <button v-if="!changePassword" v-on:click="changePassword = true" type="button" class="btn btn-primary btn-round">Change Password</button>
                                </div>
                            </div>
                            <div class="row" v-if="changePassword">
                                <div class="update-profile-button">
                                    <button type="submit" class="btn btn-primary btn-round">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import '@/assets/css/bootstrap.min.css';
import '@/assets/css/paper-dashboard.css?v=2.0.1';
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    data(){
        return{
            adminId: Number,
            name: '',
            age: Number,
            address: '',
            email: '',
            username: '',
            changePassword: false,
            currentPassword: '',
            newPassword: '',
            confirmNewPassword: ''
        }
    },
    methods: {
        updatePassword: function(){
            if(this.currentPassword != '' && this.newPassword != '' && this.confirmNewPassword != ''){
                axios.get("http://localhost:8080/userAdmin/" + this.adminId + "/password/" + this.currentPassword)
                .then((resp) =>{
                    if(resp.data == ''){
                        alert("Password Not Found!");
                        return;
                    }

                    if(this.newPassword == this.confirmNewPassword){
                        axios.put("http://localhost:8080/userAdmin/" + this.adminId +"/updatePassword/" + this.newPassword)
                        .then((resp) =>{
                            alert("Password Updated!");
                            this.$router.go();
                        })
                    }else{
                        alert("New Password and Confirm New Password Not Same!");
                        return;
                    }
                })
            }
        }
    },
    mounted(){
        if (localStorage.getItem('reloadPage')) {
            localStorage.removeItem('reloadPage');
        } else {
            localStorage.setItem('reloadPage', '1');
            location.reload();
        }
    },
    created: function(){
        var load = JSON.parse(localStorage.getItem('adminAuth'));
        this.adminId = load.admin.adminId;

        load.admin.position = 1;
        localStorage.setItem('adminAuth', JSON.stringify(load))
        
        axios.get("http://localhost:8080/userAdmin/" + this.adminId)
        .then((resp) =>{
            this.name = resp.data.name;
            this.age = resp.data.age;
            this.address = resp.data.address;
            this.email = resp.data.email;
            this.username = resp.data.username;
        })
    }
}

</script>

<style>

.update-profile-button button{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

</style>