<template>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="text-align: center">Applicants that Verified</h4>
                    </div>
                    <div class="card-body">
                        <!-- <div class="table-responsive"> -->
                            <table class="table">
                                <thead class=" text-primary" style="text-align: center">
                                    <th>Full Name</th>
                                    <th>NIK</th>
                                    <th>NPWP</th>
                                    <th>Monthly Income</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <tr v-for="applicant in applicants" v-bind:key="applicant.nik" style="text-align: center">
                                        <td>{{ applicant.name }}</td>
                                        <td>{{ applicant.nik }}</td>
                                        <td>{{ applicant.npwp }}</td>
                                        <td>Rp. {{ applicant.monthlyIncome }}</td>
                                        <td>
                                            <button @click="acceptAction(applicant)" class="btn btn-vue" style="margin-right: 5px; background: #8dde47; border: none">Approve</button>
                                            <button @click="rejectAction(applicant)" class="btn btn-vue" style="margin-left: 5px; background: #e30717">Reject</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import '@/assets/css/bootstrap.min.css';
import '@/assets/css/paper-dashboard.css?v=2.0.1';
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    data(){
        return{
            applicants: [],
            customerIds: [],
            applicantData: undefined
        }
    },
    methods: {
        acceptAction: function(applicant){
            if(confirm("Approve " + applicant.name + "?")){
                axios.put("http://localhost:8080/creditCardApplicants/ " + applicant.applicantId + "/approved")
                .then((resp) =>{
                    alert(applicant.name + " Approved")
                    this.$router.go();
                })
            }
        },
        rejectAction: function(applicant){
            if(confirm("Reject " + applicant.name + "?")){
                axios.put("http://localhost:8080/creditCardApplicants/ " + applicant.applicantId + "/rejected")
                .then((resp) =>{
                    alert(applicant.name + " Rejected")
                    this.$router.go();
                })
            }
        }
    },
    mounted(){
        if (localStorage.getItem('reloadPage')) {
            localStorage.removeItem('reloadPage');
        } else {
            localStorage.setItem('reloadPage', '1');
            location.reload();
        }

        axios.get("http://localhost:8080/creditCardApplicants/verified")
        .then((resp) =>{
            if(resp.data[0] == null){
                alert("No Data!");
                return;
            }
            this.applicantData = resp.data;
            for (let i = 0; i < this.applicantData.length; i++) {
                this.customerIds[i] = resp.data[i].customerId;
            }
            axios.get("http://localhost:8080/creditCardApplicants/customers/" + this.customerIds)
            .then((resp) =>{
                for (let i = 0; i < this.applicantData.length; i++) {
                    this.applicants.push({
                        applicantId: this.applicantData[i].applicantId,
                        name: resp.data[i].name,
                        city: resp.data[i].city,
                        nik: this.applicantData[i].nik,
                        npwp: this.applicantData[i].npwp,
                        monthlyIncome: this.applicantData[i].monthlyIncome
                    });
                }
            })
        })
    },
    created: function(){
        var load = JSON.parse(localStorage.getItem('adminAuth'));
        load.admin.position = 2;
        localStorage.setItem('adminAuth', JSON.stringify(load))
    }
}

</script>

<style>

.btn-vue{
    color: #fcefed;
    font-weight: bold;
    border-radius: 15px;
}

.wrapper{
    background: #f4f3ef;
}

</style>