<template>
    <div class="content">
         <div class="row">
           <div class="col-md-12">
             <div class="card">
               <div class="card-header">
                 <h4 style="text-align: center;" class="card-title">List Verified Applicant User</h4>
               </div>
               <div class="card-body">
                 <!-- <div class="table-responsive"> -->
                   <table class="table">
                     <thead style="text-align: center;" class=" text-primary">
                       <th>Full Name</th>
                       <th>NIK</th>
                       <th>NPWP</th>
                       <th>Details</th>
                     </thead>
                     <tbody>
                      <tr style="text-align: center;" v-for="applicant in applicants" :value="applicant.id" v-bind:key="applicant.id" >
                        <td>{{ applicant.name }}</td>
                        <td>{{ applicant.NIK }}</td>
                        <td>{{ applicant.NPWP }}</td>
                        <td><img @click="detailsAction(applicant)" style="cursor: pointer; margin-left: 20px" src="../assets/pictures/detail.png" width="25px" alt=""></td>
                      </tr>
                     </tbody>
                   </table>
                 <!-- </div> -->
               </div>
             </div>
           </div>
         </div>
       </div>
</template>
 
<script>
import axios from 'axios';

export default {
    data(){
        return{
            applicants: undefined,
            search: ""
        }
    },
    methods: {
      detailsAction: function(applicant){
            if(confirm("Go to " + applicant.name + " " + "details info ?")){
                var applicantDetail = {
                  name: applicant.name,
                  city: applicant.city,
                  NPWP: applicant.NPWP,
                  NIK: applicant.NIK,
                  monthlyIncome: applicant.monthlyIncome,
                  accountNumber: applicant.accountNumber,
                  address: applicant.address,
                  district: applicant.district,
                  ward: applicant.ward,
                  province: applicant.province,
                  RTRW: applicant.RTRW,
                  zipCode: applicant.zipCode,
                  occupation: applicant.occupation,
                  phoneNumber: applicant.phoneNumber,
                  applicantId : applicant.applicantId
                }

              this.$router.push({
                name: "detailsView",
                params: {applicantDetail}
              })
            }
        },
    },
    mounted(){
        if (localStorage.getItem('reloadPage')) {
            localStorage.removeItem('reloadPage');
        } else {
            localStorage.setItem('reloadPage', '1');
            location.reload();
        }

        axios.get("http://localhost:8080/creditCardApplicants/notVerified")
        .then((resp) =>{
            if(resp.data[0] == null) alert("No Data!");
            this.applicants = resp.data;
        })
    },
    created: function(){
        var load = JSON.parse(localStorage.getItem('adminAuth'));
        load.admin.position = 2;
        localStorage.setItem('adminAuth', JSON.stringify(load))
    }
}
</script>