<template>
  <div>
    <div v-if="this.admin.adminId == Number">
      <Login />
    </div>
    <div v-if="this.admin.adminId != Number" class="wrapper">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a class="simple-text logo-mini">
                <div class="logo-image-small">
                <img src="./assets/pictures/logo-bank-sinarmas.png" alt="">
                </div>
            </a>
            <a class="simple-text logo-normal">{{ this.admin.roleName }}</a>
        </div>
        <Sidebar :roleId="admin.roleId"/>
      </div>
      <div class="main-panel">
        <Navbar :admin="admin"/>
        <router-view />
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import Sidebar from "./components/Sidebar.vue";
import Footer from "./components/Footer.vue";
import Login from "./views/LoginView.vue"
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
  name: "App",
  components: {
    Navbar,
    Sidebar,
    Footer,
    Login
  },
  data(){
    return{
      admin: {
        adminId: Number,
        name: '',
        roleId: Number,
        roleName: '',
        position: Number
      }
    }
  },
  created: function(){
      var load = JSON.parse(localStorage.getItem('adminAuth'));
      this.admin = load.admin;
    }
}
</script>

<style>

.wrapper{
    background: #f4f3ef;
}

.main-panel{
  padding-bottom: 20px;
}

</style>