<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:-5%">
      <div class="container">
        <div class="col-4 align-self-center">
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <a class="navbar-brand" href="">
              <router-link to="/" v-if="userId == -1"> 
              <img src="./assets/LogoBankSinarmas.png" alt="" width="200px" height="50px" class="d-inline-block align-text-top"/>
              </router-link>
              <router-link to="/product" v-if="userId != -1"> 
              <img src="./assets/LogoBankSinarmas.png" alt="" width="200px" height="50px" class="d-inline-block align-text-top"/>
              </router-link>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>

        <div class="col-4 align-self-center">
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link" aria-current="page" v-if="userId == -1" to="/">Products</router-link>
                <router-link class="nav-link" aria-current="page" v-if="userId != -1" to="/product">Products</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/aboutus">About Us</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-4 align-self-center">
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav1">
            <ul class="navbar-nav">
              <li class="nav-item" v-if="userId == -1">
                <router-link class="nav-link" to="/">Sign In</router-link>
              </li>
              <li class="nav-item" v-if="userId == -1">
                <router-link class="nav-link" to="/register">Sign Up</router-link>
              </li>
              <li class="nav-item" v-if="userId != -1">
                <form v-on:submit.prevent="logoutAction">
                    <div class="form-group col-4" style="width: 100%">
                        <button class="btn col-12">Logout</button>
                    </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
    <hr />
    <footer>
      <div class="foot d-flex bg-gray text-secondary justify-content-center p-1">
        <p>&copy; 2006 Sinarmas Bank. All Rights Reserved</p>
      </div>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
    data: function(){
        return {
            userId: -1,
            username: ''
        }
    },
    methods: {
        logoutAction: function(){
            axios.post("http://localhost:8080/customer/logout", {username: this.username})
            .then(response => {
                  if(response.status == 200){
                      this.userId = -1;
                      localStorage.clear();
                      this.$router.push('/');
                  }
            }).catch(error => { alert(error.response.data.message) })
        }
    },
    created: function(){
          var load = JSON.parse(localStorage.getItem('appUserAuth'));
          this.userId = load.userId;
          this.username = load.username;
    }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: white;
}

nav a {
  font-weight: bold;
}

</style>